body{
    background-color: hsl(30, 54%, 90%);
    height: 100rem;
}

.card{
    background-color: white;
    overflow: hidden;
    padding: 22px;
    width: 650px;
    height: 94rem;
    margin-left: 400px;
    margin-top: 50px;
    border-radius: 13px;
    
}

.card img{
    width: 100%;
    height: auto;
    display: block;
    border-radius: 13px;
   
}

h1{
    font-family:  "Young Serif", serif;
    color: hsl(24, 5%, 18%);
    font-weight: 400;
    font-style: normal;
}
p{
    font-size: 16px;
    font-family: 'Outfit', sans-serif;
    color: hsl(24, 5%, 18%);
}

.sub-card{
    background-color: hsl(330, 100%, 98%);
    padding: 10px;
    border-radius: 10px;

}

h3{
    color: hsl(332, 51%, 32%);
    margin-left: 20px;
    font-family:'Outfit', sans-serif ;
}

ul li{
    font-family: 'Outfit', sans-serif;
}

ul strong{
    
    margin-left: 10px;
}

li{
    padding-bottom: 5px;
}
.ing-list{
    margin-left: -20px;
    padding-left: 12px;
    
    font-family: 'Outfit', sans-serif;
}

ol li{
    margin-left: -20px;
    padding-left:12px ;
    font-family:'Outfit', sans-serif ;
}

h2{
    font-family: "Young Serif", serif;
    color: hsl(14, 45%, 36%);
    font-weight: 400;
}
.separator {
    width: 100%;
    height: 1px; 
    background-color: #ccc; 
    margin: 20px 0;
}

.table{
    width: 100%;
    border-collapse: collapse;
}

 .table tr{
    border-bottom: 1px solid #ccc;
} 

.table tr:last-child{

    border-bottom: none;
} 

.table td{
    font-family: 'Outfit', sans-serif ;
    padding: 10px;
}

.table td:nth-child(2) {
   
    color: hsl(14, 45%, 36%);
    font-weight: bold; 
}